body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    padding-top: 50px;
}

input, select {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    background: #00ffcc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
